#main-container {
	margin: auto;
	width: 40%;
	text-align: center;
}

#todo-container {
	list-style: none;
	padding: 0;
}

#todo-container li {
	padding: 5px 10px;
	margin: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
}

#todo-container li button {
	margin-left: 10px;
	height: 100%;
}